.gallery-block{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 0;
    top: calc(100vh - 50px);
    transition: all 2s;
}
.gallery-block.active {
    top: 150px;
    height: auto;
}